/* Contenedor */
.taskDetailsPanel {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: var(--background-body-color);
  border-left: 1px solid #e0e0e0;
  width: 300px;
  height: 100dvh;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para móviles */
.taskDetailsPanel.mobileView {
  width: 100%;
  border-left: none;
  box-shadow: none;
  padding: 10px; /* Reducir el padding */
}

/* Btn cerrar contenedor */
.closeButton {
  padding: 0;
  align-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
}
.closeIcon {
  font-size: 1.5rem;
}

/* Contenedor de los detalles de la tarea */
.taskDetailsMain {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
  flex-grow: 1;
  overflow: hidden; /* Evitar desbordamiento */
}

/* Contenedor de nombre de task y pasos */
.titleAndSteps {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  min-width: 0;
  min-height: 200px;
  background-color: var(--hover-claro-bg-body);
  border-radius: 8px;
}

.taskTitleInput {
  /* Nombre de tarea */
  width: 100%;
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px 8px 0 0;
  border-bottom: 0.9px solid #e0e0e0;
  margin-bottom: 20px;
  white-space: nowrap; /* Evita salto de línea */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Asegurar que no se desborde */
}
.taskTitleInput:focus {
  outline: 2px solid var(--turquesa-base); /* Cambia el borde interno al hacer clic */
  outline-offset: -2px; /* Para que no sobresalga */
  border-radius: 8px;
}

.addStep {
  /* Boton de agregar paso */
  border: none;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}
.addStep:focus,
textarea:focus {
  box-shadow: 0 0 5px var(--input-focus-color);
  outline: none;
}

.stepsContainer {
  margin-top: 10px;
  min-height: 200px;
  max-height: 300px; /* Reducir altura máxima */
  overflow-y: auto;
  padding: 10px;
}

/* Estilos a la barra de scroll */
.stepsContainer::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 4px; /* Ancho de la barra de scroll */
}
.stepsContainer::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo de la barra */
  border-radius: 4px;
}
.stepsContainer::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background: #888; /* Color de la barra */
  border-radius: 4px;
}
.stepsContainer::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color al pasar el mouse */
}

/* Step items */
.stepItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 0.7px solid #e0e0e0;
}
.stepItem:hover {
  background-color: #e0e0e0;
}

/* Checkbox step */
.stepCheckbox {
  cursor: pointer;
  margin-right: 10px;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--main-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}
/* Mostrar tilde en hover */
.stepCheckbox:hover::before {
  content: "✔";
  font-size: 12px;
  color: #333;
  position: absolute;
}
/* Mostrar tilde cuando está marcado */
.stepCheckbox:checked::before {
  content: "✔";
  font-size: 12px;
  color: var(--main-font-color);
}

.deleteStepButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

/* Nota */
textarea {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 200px;
  padding: 10px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.2px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-top: 20px;
  resize: vertical; /* Permitir redimensionar verticalmente */
  box-sizing: border-box; /* Incluir padding en el ancho */
}

/* Botones de borrar categoría y task */
.deleteButtonsContainer {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.deleteBtn {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  color: var(--main-font-color);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
  background-color: var(--hover-claro-bg-body);
  border-radius: 8px;
  font-size: 0.9rem;
}
.trashIcon {
  font-size: 1.5rem;
}

.deleteBtn:hover {
  color: var(--button-cancel);
}

.deleteBtnCategory:hover {
  background-color: var(--button-cancel);
  color: #fff;
}

/* Media Queries para móviles */
@media (max-width: 480px) {
  .taskDetailsPanel.mobileView {
    padding: 10px; /* Reducir el padding */
  }

  .taskTitleInput {
    padding: 15px; /* Reducir el padding */
    font-size: 1.2rem; /* Reducir el tamaño de la fuente */
  }

  .addStep {
    font-size: 0.9rem; /* Reducir el tamaño de la fuente */
    padding: 8px; /* Reducir el padding */
  }

  .stepsContainer {
    max-height: 150px; /* Reducir altura máxima */
  }

  textarea {
    min-height: 150px; /* Reducir altura mínima */
    font-size: 12px; /* Reducir el tamaño de la fuente */
  }

  .deleteButtonsContainer {
    flex-direction: column; /* Apilar botones verticalmente */
    gap: 5px; /* Reducir el espacio entre botones */
  }

  .deleteBtn {
    width: 100%; /* Ocupar todo el ancho */
    justify-content: center; /* Centrar el texto */
  }
}
