.placeholderMessge {
  color: #fff;

  align-self: flex-start;
}

.placeholderMessge .hello {
  font-size: 3rem;
  font-weight: bold;
}
.placeholderMessge .text {
  font-size: 1.5rem;
}

.mainView {
  padding: 30px 33px 15px 33px;
  border: 1px solid var(--turquesa-claro);
  border-radius: 15px;
  background-color: var(--turquesa-base);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

.categoryHeader,
.noteHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Boton del menu */
.threeDotsButton {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: var(--background-body-color);
  transition: background-color 0.2s;
  position: relative;
}

.threeDotsButton:hover {
  background-color: #fff;
  border: 1px solid var(--turquesa-claro);
}
.threeDotsButton:active,
.threeDotsButton:focus {
  outline: 3px solid var(--turquesa-claro);
}
.threeDotsButton > svg {
  width: 20px;
  height: 20px;
}

.menu {
  display: flex;
  flex-direction: column; /* Cambiamos a columna */
  gap: 5px; /* Espaciado entre elementos */
  position: absolute; /* Posición absoluta para el menú */
  top: 100%; /* Se coloca debajo del botón */
  right: 0; /* Alineado a la derecha */
  background-color: var(--background-body-color);
  border: 1px solid var(--turquesa-claro);
  border-radius: 8px;
  padding: 10px;
  z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para el menú */
}

/* Botones del menú */
.menuButton {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alineación a la izquierda */
  color: var(--main-font-color);
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 0.9rem;
  padding: 8px 12px; /* Padding para los botones */
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
.menuButton:hover {
  font-weight: bold;
  background-color: #fff;
  outline: 2px solid var(--turquesa-claro);
}

.deleteButton:hover {
  color: var(--button-cancel);
  outline: 2px solid var(--button-cancel);
}

/* Titulo */
.mainView h1 {
  color: white;
}

/* Tasks container */
.tasksContainer {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-anchor: none;
  padding-bottom: 60px;
  scroll-behavior: smooth;
  margin: 10px 0;
  padding-right: 5px;
  max-height: calc(100vh - 200px);
}
.tasksContainer::-webkit-scrollbar {
  width: 8px;
}
.tasksContainer::-webkit-scrollbar-track {
  background: var(--background-body-color);
  border-radius: 4px;
}
.tasksContainer::-webkit-scrollbar-thumb {
  background: var(--turquesa-claro);
  border-radius: 4px;
}

/* Input: "Add a new task" */
.taskInputContainer {
  /*flex-shrink: 0;
  margin-left: 0;
  margin-top: auto;
  padding: 16px 16px 16px 0;
  border-top: 1px solid var(--turquesa-claro); */
  position: sticky;
  bottom: 0;
  background: var(--turquesa-base);
  padding: 16px 0;
  z-index: 10;
  margin-top: auto;
}

.taskInputContainer form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.taskInput {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-bg-color);
  border-radius: 4px;
  background-color: var(--background-body-color);
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.taskInput:hover {
  background-color: var(--hover-claro-bg-body);
}

.taskInput:focus {
  box-shadow: 0 0 5px white;
  outline: none;
}

/* Estilos para le boton de agregar nueva Task */
.taskInputButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 30px;
  height: 30px;
  background-color: var(--background-body-color);
  font-size: 1rem;
  color: var(--main-font-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.8s ease, transform 0.2s ease, outline 0.2s ease;
}

.taskInputButton:hover {
  background-color: var(--hover-claro-bg-body);
  transform: scale(1.05);
}
.taskInputButton:active {
  transform: scale(0.95);
}
.taskInputButton:focus,
.taskInputButton:active {
  outline: 3px solid rgba(0, 123, 255, 0.5); /* Cambia el borde interno al hacer clic */
  outline-offset: -2px; /* Para que no sobresalga */
}

.taskCheckbox {
  cursor: pointer;
  margin-right: 10px;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--turquesa-base);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

/* Mostrar tilde en hover */
.taskCheckbox:hover::before {
  content: "✔";
  font-size: 12px;
  color: var(--turquesa-base);
  position: absolute;
}
/* Mostrar tilde cuando esta marcado */
.taskCheckbox:checked {
  background-color: var(--turquesa-base);
  border-color: var(--turquesa-claro);
}
.taskCheckbox:checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
}

.taskItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--background-body-color);
}
.taskItem:hover {
  background-color: var(--hover-claro-bg-body);
}
.taskItem span {
  white-space: normal; /* Permite múltiples líneas */
  word-break: break-word; /* Rompe palabras largas */
  flex: 1; /* Ocupa espacio disponible */
  min-width: 0; /* Permite que el texto se ajuste */
}

/* Note */
.noteContainer {
  display: flex;
  flex-direction: column;
  height: 98%;
  overflow: hidden;
}

.titleNote {
  color: white;
  max-height: 60px; /* Máximo 3 líneas aprox */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Máximo de líneas visibles */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.noteTextarea {
  padding: 20px;
  margin-bottom: 16px;
  flex: 1; /* Ocupa todo el espacio restante */
  min-height: 150px;
  width: 100%;
  background-color: var(--background-body-color);
  font-size: 1rem;
  color: var(--main-font-color);
  border: none;
  overflow-y: auto;
}
.noteTextarea::-webkit-scrollbar {
  width: 6px;
}
.noteTextarea::-webkit-scrollbar-track {
  background: var(--background-body-color);
  border-radius: 4px;
}
.noteTextarea::-webkit-scrollbar-thumb {
  background: var(--turquesa-claro);
  border-radius: 4px;
}

textarea {
  margin: 20px 0;
}

/* Botón de volver atrás */
.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: var(--background-body-color);
  border: none;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 8px;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: var(--hover-claro-bg-body);
}

.backButton svg {
  font-size: 1.2rem;
  color: var(--main-font-color);
}

/* Moviles */
@media (max-width: 768px) {
  .mainView {
    height: 100vh;
    padding-bottom: env(
      keyboard-inset-height,
      0px
    ); /* Nueva propiedad experimental */
  }

  .taskInputContainer {
    padding-bottom: max(
      16px,
      env(safe-area-inset-bottom)
    ); /* Considera el área segura */
  }

  .taskInput {
    scroll-padding-bottom: 100px; /* Reserva espacio para el teclado */
  }
}
