.usernameContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
  border-radius: 8px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--turquesa-claro);
}

.username {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: var(--main-font-color);
  white-space: nowrap; /* Evita salto de línea */
  overflow: hidden; /* Oculta texto largo */
  text-overflow: ellipsis;
  max-width: 150px;
}
